
{% load static %}


<!-- ================= HEADER ================= -->

<header class="site-header">

    <nav class="navbar">

        <!-- Logo -->
        <div class="navbar-logo">

            <a href="{% url 'home' %}">

                     FreshRoots

            </a>

        </div>


        <!-- Navigation Links -->
        <div class="navbar-links">

            <a href="{% url 'home' %}">
                Home
            </a>

            <a href="{% url 'about' %}">
                About
            </a>

        </div>


        <!-- Authentication -->
        <div class="navbar-auth">

            <a href="{% url 'login' %}"
               class="login-btn">
                Login
            </a>

            <a href="{% url 'register' %}"
               class="register-btn">
                Register
            </a>
            <a href="{% url 'delivery_partner_register' %}">
    Become a Delivery Partner
</a>

        </div>

    </nav>

</header>

